body, ul {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #f6f6f6;
  color: #181717;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}


.left-parent{
  width: 60%;
  margin-bottom: 3%;
}
.left-column {
  width: 100%;
  display: flex;
}

.right-column {
  width: 40%;
}


ul {
  list-style: none;
  padding-left: 0;
}


a {
  color: #857d7d;
  text-decoration: none;
}


.column-item {
  margin-bottom: 10px;
}

.column-title {
  font-weight: bold;
  margin-bottom: 10px;
}


.sub-column {
  flex-grow: 1;
  margin-right: 20px;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sub-col{
  position: absolute;
}

.horizontal-layout {
  display: flex;
}


.horizontal-item {
  margin-right: 20px;
}
.text-decoration{
  margin-right: 10px !important;
  margin: 5px 0px;
  text-decoration: underline;
}
.copy-rights{
  margin: 10px 0px;
}
.lef-hor-parent{
  margin-top: 65px;
}

.rsub-par{
  display: flex;
}

.rsub1{
  width: 70%;
}

.rsub2{
  width: 30%;
}

.rsub-content{
  display: flex;
}

.social-logo{
    width: 10%;
    height: 100%;
    margin-right: 10px;
}

.platform-logo{
  width: 25%;
  height: 100%;
  margin-right: 10px;
}


.signup{
  width: 340px;
  height: 30px;
  padding: 10px;
  color: #090909;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.signup::placeholder {
  color: #bbb5b5;
}

.custom-button{
  width: 145px;
  height: 52px;
  margin-left: 10px;
  background-color: #2d2b2b;
  color: #cdc6c6;
  font-weight: bold;
}

.rsub-par-2{
  width: 100%;
  display: flex;
}

.font-small{
  font-size: 14px;
  color: #bbb5b5;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.privacy{
  text-decoration: underline;
  color: rgb(58, 58, 240);
}

.payment-methods{
  width:80%;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  flex-direction:row; 
}

.payment-logo{
  margin-right: 5px;
  margin-bottom: 10px ;
  background-size: 200% 200%;
  background-position: center;
  background-color: #c2c2fb;
}



.payment-logo {
  width: 48px;
  height: 30px;
  border-radius: 3px;
}

.paymant-container{
  width: 100%;
  margin: 10px;
}


.font-sans-serif{
  font-family: sans-serif;

}
